<html>
    <head>
        <title>Innas blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Innas blog</a></h1>
        </div>

        <div>
            <p>published: 05.10.2019, 15:22</p>
            <h2><a href="">Alles über Katzen</a></h2>
            <p>Katzen sind cool. Ich mag Katzen. Sie sind ultra flauschig. Manchen Menschen nennen ihre Katze "Flauschi McFlauschenstein". Vielleicht mache ich das auch irgendwann mal.</p>
        </div>

        <div>
            <p>published: 05.10.2019, 15:22</p>
            <h2><a href="">Warum Luiz super ist</a></h2>
            <p>Auch wenn Luiz nicht Flauschi McFlauschenstein heißt, ist er trotzdem der besteste Kater der Welt</p>
        </div>
    </body>
</html>